$desktop-up: "screen and (min-width: 1024px)";


@font-face{ 
	font-family: 'peace-sans';
	src: url('../fonts/peacesans_regular_macroman/peace_sans-webfont.eot');
	src: url('../fonts/peacesans_regular_macroman/peace_sans-webfont.eot?iefix') format('eot'),
        url('../fonts/peacesans_regular_macroman/peace_sans-webfont.woff') format('woff'),
        url('../fonts/peacesans_regular_macroman/peace_sans-webfont.ttf') format('truetype'),
        url('../fonts/peacesans_regular_macroman/peace_sans-webfont.svg#webfont') format('svg');
}
@font-face{ 
	font-family: 'open-sans';
	src: url('../fonts/opensans_regular_macroman/OpenSans-Regular-webfont.eot');
	src: url('../fonts/opensans_regular_macroman/OpenSans-Regular-webfont.eot?iefix') format('eot'),
        url('../fonts/opensans_regular_macroman/OpenSans-Regular-webfont.woff') format('woff'),
        url('../fonts/opensans_regular_macroman/OpenSans-Regular-webfont.ttf') format('truetype'),
        url('../fonts/opensans_regular_macroman/OpenSans-Regular-webfont.svg#webfont') format('svg');
}

@mixin background-size-position {
  background-size: cover;
  background-position: center;
}

@mixin button-borders {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

body {

  color: #494949;
  @media #{$desktop-up} {
    background: url("../images/bg-look.png") no-repeat;
    height: 5279px;
    @include background-size-position;
  }
}

header {
  background: url("../images/header-background.png") no-repeat;
  @include background-size-position;
  height: 100vh;
  @media #{$desktop-up} {
    height: 890px;
  }
}


/*navbar*/


.navbar {
  background-color: transparent;
  border-color: transparent;
  @media #{$desktop-up} {
    padding: 0 65px;
  }

  .navbar-brand img {
    height: 100%;
    @media #{$desktop-up} {
      height: auto;
    }
  }

  .navbar-nav>li>a {
    color: white;
    font-weight: 600;
    font-family: 'Lato', sans-serif;
    line-height: 35px;
  }

}

.navbar-default .navbar-collapse {
  border-color: transparent;
  background-color: #63181f;
  @media #{$desktop-up} {
    background-color: transparent;
  }
}

/*banner*/

.banner {
  @media #{$desktop-up} {
    height: 890px;
  }
  .container {
    display: flex;
    justify-content: center;
    padding-top: 100px;
  }


  .banner-text {
    display: inline-block;
    height: 100%;
    padding: 20vh 0;
    @media #{$desktop-up} {
      // line-height: 50vw;
      padding: 0;
      position: relative;
      top: 150px;
      left: 100px;
      // height: 890px;
    }
    

    .banner-logo img {
      width: 100%;
      @media #{$desktop-up} {
        width: auto;
      }
    }
    
    .banner-btn {
      text-align: center;
      width: auto;
      margin-top: 85px;
      display: none;
      @media #{$desktop-up} {
        display: block;
      }

        a {
          @include button-borders;
          letter-spacing: 2px;
          border: 1px solid white;
          background-color: white;
          padding: 18px 30px;
          color: black;
          text-decoration: none;
          font-weight: bold;
          font-size: 16px;
        
        }
      }
    }

  .banner-picture {
    display: none;
    @media #{$desktop-up} {
      display: inline-block;
      position: relative;
      right: 100px;
      top: -30px;
    }

  }
}




/* first section - who we are */

#who-are-we {
  padding: 40px 0;
  text-align: center;
  @media #{$desktop-up} {
    height: 640px;
    text-align: left;;
  }
}

#who-are-we .container {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  
}
.who-are-we-text {

  

  @media #{$desktop-up} {
    padding: 60px;
  }
  h2 {
    font-size: 48px;
    width: 100%;
    font-family: "peace-sans", sans-serif;
    @media #{$desktop-up} {
      font-size: 48px;
      width: 475px;
      margin: 0;
    }

  }
  p {
    font-size: 1.5em;
    font-weight: lighter;
    margin: 5vh 0;
    line-height: 25px;
    text-align: center;
    color: #6a6a6a;
    font-family: 'open-sans', sans-serif;
    @media #{$desktop-up} {
      font-size: 16px;
      text-align: left;
      padding: 25px 0;
      margin: 0;
      line-height: 25px;
    }

  }

  .hidden {
    padding-top: 25px;
  }

  .btn {
    background: #bc2e3a;
    @include button-borders;
    padding: 10px 20px;
    font-weight: bold;
    color: white;
    font-size: 2em;

    @media #{$desktop-up} {
      display: inline-block;
      margin-top: 50px;
      font-size: 16px;
    }
   
  }
}

#who-are-we .macbook {
  display: none;
  @media #{$desktop-up} {
    padding: 65px 0;
    display: inline-block;
  }
  img:hover {
    filter: brightness(120%);
  }
}


/* What we do */

#what-we-do {
  padding: 40px 0;
  background-color: rgba(0, 0, 0, 0.2);
  @media #{$desktop-up} {
    background-color: inherit;
    height: 744px;
    margin: 0 225px;

  }


  .upper {
    @media #{$desktop-up} {
      margin-bottom: 150px;
    }
    
  }

}

#what-we-do .col-md-12 h3 {
  text-align: center;
  font-size: 48px;
  font-family: "peace-sans", sans-serif;;
  margin: 0 0 40px 0;
  @media #{$desktop-up} {
    margin: 60px 0 80px 0;
  }
  
}

#what-we-do .col-md-4 {
  
  img {
    background-color: #bc2e3a;
    border-radius: 50%;
    padding: 10px;
  }

  .title {
    font-size: 24px;
    font-weight: bold;
    color: #6a6a6a;
    font-family: 'open-sans', sans-serif;
    span {
      padding: 0 20px;
    }

  }

  p {
    padding-left: 85px;
    font-size: 16px;
    color: #6a6a6a;
    font-family: 'open-sans', sans-serif;
    
  }
}


/* How we works */

#how-we-work {

  padding: 40px 0;
  
  @media #{$desktop-up} {
    height: 708px;
  }

  .how-we-work-text {

    text-align: center;
    @media #{$desktop-up} {
      padding: 60px;
      text-align: left;
    }
    h4 {
      font-size: 48px;
      font-family: "peace-sans", sans-serif;
      width: 100%;
      @media #{$desktop-up} {
        font-size: 48px;
        width: 475px;
        margin: 0;
      }
  
    }
    p {
      font-size: 1.5em;
      font-weight: lighter;
      margin: 5vh 0;
      line-height: 25px;
      color: #6a6a6a;
      font-family: 'open-sans', sans-serif;
      @media #{$desktop-up} {
        width:300px;
        font-size: 16px;
        height: auto;
        padding: 25px 0;
        margin: 0;
        line-height: 25px;
      }

  }

  .btn {
    background: #bc2e3a;
    @include button-borders;
    padding: 10px 20px;
    font-weight: bold;
    color: white;
    font-size: 2em;
    @media #{$desktop-up} {
      display: inline-block;
      margin-top: 50px;
      font-size: 16px;
    }
    
  }
}

  .how-we-work-images {



  }


}


/* team */

#team {
  background-color: rgba(0, 0, 0, 0.2);
  @media #{$desktop-up} {
    background-color: inherit;
    // height: 655px;
    padding: 40px 0;
  }
  

  h5 {
    font-size: 48px;
    font-family: "peace-sans", sans-serif;
    width: 100%;
    text-align: center;
    @media #{$desktop-up} {
      padding: 40px 0 20px 0;
    }
    

  }




  .swiper-container {
    height: auto;
    padding: 0 50px;
    width: 100vw;
    @media #{$desktop-up} {
      width: auto;
    }


    .swiper-pagination {
      position: relative;
      bottom: 0;
    }
    .swiper-slide {
    
      background-image: url(../images/slider/slide1.png);
      background-position: center;
      background-size: cover;
      height: 500px;
      @media #{$desktop-up} {
        width: 500px;
        height: 500px;
  
      }
      
    }
  }      
}






/* clients */

#clients {

  @media #{$desktop-up} {
    height: 812px;
  }

 .container {


    h6 {
      font-size: 48px;
      font-family: "peace-sans", sans-serif;
      width: 100%;
      text-align: center;
      @media #{$desktop-up} {
        text-align: left;
        font-size: 48px;
        width: 475px;
        margin: 180px 0 45px 160px;
      }
    }
    

    .content {
      display: flex;
      flex-wrap: wrap;
      width: inherit;
    }
    .clients-image {
      display: inline-block;

      img {
        width: 100%;
        @media #{$desktop-up} {
          width: auto;
        }
      }
    }

    .quote-img {
      display: inline-block;
      padding: 15px 0;
      @media #{$desktop-up} {
      padding: 90px 20px 0 20px;
      }
    }


    .clients-text {
      display: inline-block;
      width: 630px;
      font-size: 16px;
      font-family: "open-sans", sans-serif;
      font-style: italic;

      @media #{$desktop-up} {
        padding-top: 110px;
      }

      p {
        @media #{$desktop-up} {
          padding-bottom: 50px;
        }
        
      }

      span {
        font-weight: bold;
        font-style: normal;
      }
    }

    .choose-client {
      padding: 15px 0;
      text-align: center;
      @media #{$desktop-up} {
        padding: 60px 0;
      }
    

      li {
        display: inline-block;
        cursor: pointer;
      }
     

    }
  }
}



/* footer */



footer {
  background-color: rgb(0, 0, 0);
  @media #{$desktop-up} {
    height: 575px;
    background-color: inherit;
  }

  .title-row {
    @media #{$desktop-up} {
      margin-top: 90px;
    }

    .contact-title {
      font-size: 48px;
      text-align: center;
      color: #9f9f9f;
      font-family: "peace-sans", sans-serif;
    }
  }

  .contact-row {
      padding: 50px 0;
    @media #{$desktop-up} {
      margin: 90px -15px;
    }
    

    span {
      padding: 0 20px;
      color: white;
      font-weight: bold;
      font-family: 'open-sans', sans-serif;
    
    }

    p {
      color: #6a6a6a;
      font-family: 'open-sans', sans-serif;
      color: white;
      padding: 0 80px;
    }
  }

  .social-row {
    margin-bottom: 10px;
    text-align: center;
  }


  .copyright {
    color: white;
    border-top: 1px solid white;
    text-align: center;
    font-family: 'open-sans', sans-serif;
    
    @media #{$desktop-up} {
      padding: 25px 0;
    }
  }

  .mobile-hidden {
      display: none;
    @media #{$desktop-up} {
      display: inline;
    }
  }

  .icon {
    padding: 5px;
    display: inline;
  }

}